#sidebar {
  text-align: center;
  padding: 1rem 1rem;
  background-color: #f8f9fa;
}

#sidebar h2 {
  text-align: left;
  margin-bottom: 0;
}

/* Hide the blurb on a small screen */
#blurb {
  display: none;
}

#sidebar-toggle {
  display: none;
}

#collapse *:first-child {
  margin-top: 1rem;
}

/* add the three horizontal bars icon for the toggle */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#page-content {
  padding: 1rem 1rem;
}

@media (min-width: 48em) {
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    text-align: left;
    transition: margin 0.3s ease-in-out, padding 0.3s ease-in-out;
  }

  #sidebar-toggle {
    display: inline-block;
    position: relative;
    top: 0;
    transition: top 0.3s ease-in-out;
  }

  /* add negative margin to sidebar to achieve the collapse */
  #sidebar.collapsed {
    margin-left: -15.5rem;
    padding-right: 0.5rem;
  }

  /* move the sidebar toggle up to the top left corner */
  #sidebar.collapsed #sidebar-toggle {
    top: -2rem;
  }

  /* also adjust margin of page content */
  #sidebar.collapsed ~ #page-content {
    margin-left: 6.5rem;
  }

  /* move all contents of navbar other than header (containing toggle) further
     off-screen */
  #sidebar.collapsed > *:not(:first-child) {
    margin-left: -6rem;
    margin-right: 6rem;
  }

  /* reveal the blurb on a large screen */
  #blurb {
    display: block;
  }

  /* Hide the toggle on a large screen */
  #navbar-toggle {
    display: none;
  }

  #collapse {
    display: block;
  }

  /* set margins of the main content so that it doesn't overlap the sidebar */
  #page-content {
    margin-left: 18rem;
    margin-right: 2rem;
    transition: margin-left 0.3s ease-in-out;
  }
}





.box {
  width: 1005;
  margin: 0 auto;
  position: relative; }

.calendar {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  color: white; }
  .calendar .year, .calendar .month, .calendar .day {
    width: 33.333%;
    float: left; }
    .calendar .year .previous p, .calendar .year .next p, .calendar .year .current p, .calendar .month .previous p, .calendar .month .next p, .calendar .month .current p, .calendar .day .previous p, .calendar .day .next p, .calendar .day .current p {
      font-size: 40px;
      margin: 0; }
    .calendar .year .previous span, .calendar .year .next span, .calendar .year .current span, .calendar .month .previous span, .calendar .month .next span, .calendar .month .current span, .calendar .day .previous span, .calendar .day .next span, .calendar .day .current span {
      font-size: 14px;
      text-transform: uppercase; }
    .calendar .year .previous, .calendar .year .next, .calendar .month .previous, .calendar .month .next, .calendar .day .previous, .calendar .day .next {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 2.6em 0; }
      .calendar .year .previous p, .calendar .year .next p, .calendar .month .previous p, .calendar .month .next p, .calendar .day .previous p, .calendar .day .next p {
        opacity: 0.3; }
    .calendar .year .current, .calendar .month .current, .calendar .day .current {
      padding: 2em 0; }
  .calendar .year {
    background-color: #7e0cf5; }
  .calendar .month {
    background-color: #983df7; }
  .calendar .day {
    background-color: #a555f8; }